<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.stefanolupo</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>01664D36-9278-40F6-97F7-13003B33EE3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0561B68B-E9D7-4159-92CD-ACFE04FF6563</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>091C17A5-5CC5-41CD-9EB9-93E3C8514327</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>123C5C2F-988D-4DC7-926F-02ECDC4EDF74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18B327DE-42FC-43FA-9D31-FB8EFCABF6C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>091C17A5-5CC5-41CD-9EB9-93E3C8514327</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B8E18E9-807D-4E57-BDDA-FBFDF0497E55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D1F7FC6-4E29-46C8-82C1-75872B71C0DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>123C5C2F-988D-4DC7-926F-02ECDC4EDF74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D71E60E-2B0E-45DA-B5B4-6E6F7860AFF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1FD47F49-5B20-4195-8E3B-829F566FE9F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B8E18E9-807D-4E57-BDDA-FBFDF0497E55</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4A0B716-91C3-499A-84F4-ACB9A7F07DEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C001D7D7-7F8A-4DED-9429-4BDD61F2EA0C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33A7034A-ACE2-4C70-A081-D744DA054E25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADB2F214-2756-4262-AFDC-5C30B8F544D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E903C06-2C58-46F3-9BA9-7D486F995160</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41272328-680B-4CFF-ABAC-B03F8427B8D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43454C43-404B-48DF-A554-F21E4554369C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E77070C-8882-46F6-AC61-AC525506E21F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45FD8BAA-D0D6-40D9-8187-67DEF6E33B48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46FEDC02-59D9-42D5-BC47-43AFF9E7FD89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A79B83B-2607-4CAC-9150-7280BF24E3AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01664D36-9278-40F6-97F7-13003B33EE3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53488506-7F3B-41CC-96E2-0AD58E3FBFA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BA9B0F5-1DCF-4F41-9839-D841C0EF87B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8EA48661-1D52-40EF-BC5F-91D5809DBDFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B01C220-8575-4331-A663-9B1CB505EC1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EA48661-1D52-40EF-BC5F-91D5809DBDFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>41E68604-F00E-4AE1-BD51-8621CF266E40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60A03153-B5A4-408C-9EAD-06D13D5DF0E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E903C06-2C58-46F3-9BA9-7D486F995160</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64E6317B-A55B-4DEE-8A82-D81778FA8AE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BA9B0F5-1DCF-4F41-9839-D841C0EF87B2</key>
		<array/>
		<key>6C7569AB-0E11-4C24-80A1-84615C4271C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADDAAFCE-17DD-4E3E-8DF7-E595471A7849</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E77070C-8882-46F6-AC61-AC525506E21F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75BA9490-6745-4EEA-AB10-4167B9F13D1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CFC6689-AE46-4B8D-83C1-9E2C6C6FF3BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0683619-112F-402B-99D1-8502E80C349F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>949BC192-8DED-4CCA-9EDD-3E396ADE8AFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95E2B96E-5FE0-40AF-ABC0-03C9E2117F2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>985CAD04-E0B7-4382-8E76-1BC7092E2212</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>949BC192-8DED-4CCA-9EDD-3E396ADE8AFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6B103CB-6A36-4B62-9A7A-E3BDC5FE17A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45FD8BAA-D0D6-40D9-8187-67DEF6E33B48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADB2F214-2756-4262-AFDC-5C30B8F544D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B01C220-8575-4331-A663-9B1CB505EC1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADDAAFCE-17DD-4E3E-8DF7-E595471A7849</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9F89A3F-0C39-44BE-9B49-A2ACD69BE620</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2D93306-1F2E-445E-9938-500721188CDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1431DF2-810F-4136-9931-8FFE01C5A393</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53488506-7F3B-41CC-96E2-0AD58E3FBFA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4A0B716-91C3-499A-84F4-ACB9A7F07DEF</key>
		<array/>
		<key>CA6186A1-1891-4BB4-8FDE-C1506DF3B27C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64E6317B-A55B-4DEE-8A82-D81778FA8AE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D17FC52E-1662-4D7B-AB8D-EF8D92E8CA7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0561B68B-E9D7-4159-92CD-ACFE04FF6563</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2D93306-1F2E-445E-9938-500721188CDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D62130F8-C324-40D7-A510-64D61CC9EE06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46FEDC02-59D9-42D5-BC47-43AFF9E7FD89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFF6C345-D610-44A5-94CC-333F5DBC05D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D71E60E-2B0E-45DA-B5B4-6E6F7860AFF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC83BF9B-BF6F-4BDF-929E-C9BFDD610A55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>800E1B24-9CF4-42A2-8C7D-6C57592B38C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECDCB260-8A0D-452E-99BE-0C1F36B46883</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41272328-680B-4CFF-ABAC-B03F8427B8D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDD10EC3-3BFC-41BC-BA0C-2880A83B4FE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75BA9490-6745-4EEA-AB10-4167B9F13D1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0683619-112F-402B-99D1-8502E80C349F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF9715E8-4FE2-4FEA-8AC2-E513E7AB0683</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95E2B96E-5FE0-40AF-ABC0-03C9E2117F2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stefano Lupo</string>
	<key>description</key>
	<string>A simple workflow for issue common Yabai commands</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Yabai Workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>launchctl kickstart -k "gui/${UID}/homebrew.mxcl.yabai"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>800E1B24-9CF4-42A2-8C7D-6C57592B38C2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yrefresh</string>
				<key>subtext</key>
				<string>Reloads yabai daemon similar to brew restart</string>
				<key>text</key>
				<string>Yabai Refresh Daemon</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EC83BF9B-BF6F-4BDF-929E-C9BFDD610A55</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>yperc</string>
				<key>subtext</key>
				<string>Gives the current node provided %ge space</string>
				<key>text</key>
				<string>Yabai Percentage Split</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7CFC6689-AE46-4B8D-83C1-9E2C6C6FF3BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m window --ratio abs:{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F0683619-112F-402B-99D1-8502E80C349F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ybal</string>
				<key>subtext</key>
				<string>Evenly distribute tiles</string>
				<key>text</key>
				<string>Yabai Balance Space</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CA6186A1-1891-4BB4-8FDE-C1506DF3B27C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m space --balance</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>64E6317B-A55B-4DEE-8A82-D81778FA8AE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yswaptile</string>
				<key>subtext</key>
				<string>Switch between horizontal/vertical tiles in current nodes</string>
				<key>text</key>
				<string>Yabai Swap Tiling Direction</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A6B103CB-6A36-4B62-9A7A-E3BDC5FE17A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m window --toggle split</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>45FD8BAA-D0D6-40D9-8187-67DEF6E33B48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$yabai $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C4A0B716-91C3-499A-84F4-ACB9A7F07DEF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yrot90</string>
				<key>subtext</key>
				<string>Rotate entire space through 90 degrees</string>
				<key>text</key>
				<string>Yabai Rotate 90 Degrees</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43454C43-404B-48DF-A554-F21E4554369C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m space --rotate 90</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6E77070C-8882-46F6-AC61-AC525506E21F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#! /bin/bash

space=$($SCRIPTS_DIR/yabai-focused-space)


echo "Current space is $space"

$yabai -m space $space --label $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6BA9B0F5-1DCF-4F41-9839-D841C0EF87B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ymirrorx</string>
				<key>subtext</key>
				<string>Mirror tiles about X axis</string>
				<key>text</key>
				<string>Yabai Mirror X</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1FD47F49-5B20-4195-8E3B-829F566FE9F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m space --mirror x-axis</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1B8E18E9-807D-4E57-BDDA-FBFDF0497E55</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:yabai} {query}</string>
				<key>title</key>
				<string>Yabai Command Logger</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C001D7D7-7F8A-4DED-9429-4BDD61F2EA0C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ylabel</string>
				<key>subtext</key>
				<string>Label the current Yabai Space</string>
				<key>text</key>
				<string>Yabai Label Space</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C1431DF2-810F-4136-9931-8FFE01C5A393</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>53488506-7F3B-41CC-96E2-0AD58E3FBFA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:finalQuery}</string>
				<key>title</key>
				<string>Command logger</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8EA48661-1D52-40EF-BC5F-91D5809DBDFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ymirrory</string>
				<key>subtext</key>
				<string>Mirror tiles about Y axis</string>
				<key>text</key>
				<string>Yabai Mirror Y</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D17FC52E-1662-4D7B-AB8D-EF8D92E8CA7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m space --mirror y-axis</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0561B68B-E9D7-4159-92CD-ACFE04FF6563</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>yswitch</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading active yabai spaces..</string>
				<key>script</key>
				<string>$SCRIPTS_DIR/yabai-space-alfred
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Switch to Yabai Space by label or index</string>
				<key>title</key>
				<string>Yabai Space Switch</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>33A7034A-ACE2-4C70-A081-D744DA054E25</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>5B01C220-8575-4331-A663-9B1CB505EC1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>finalQuery</key>
					<string>/usr/local/bin/skhd --key "ctrl - {query}"</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ADB2F214-2756-4262-AFDC-5C30B8F544D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yswapleft</string>
				<key>subtext</key>
				<string>Swap with tile to the left</string>
				<key>text</key>
				<string>Yabai Swap Left</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1D1F7FC6-4E29-46C8-82C1-75872B71C0DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m window --swap west</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>123C5C2F-988D-4DC7-926F-02ECDC4EDF74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo $finalQuery
eval $finalQuery</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>41E68604-F00E-4AE1-BD51-8621CF266E40</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yswapright</string>
				<key>subtext</key>
				<string>Swap with tile to the right</string>
				<key>text</key>
				<string>Yabai Swap Right</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FF9715E8-4FE2-4FEA-8AC2-E513E7AB0683</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m window --swap east</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>95E2B96E-5FE0-40AF-ABC0-03C9E2117F2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yswapup</string>
				<key>subtext</key>
				<string>Swap with tile above</string>
				<key>text</key>
				<string>Yabai Swap Up</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>985CAD04-E0B7-4382-8E76-1BC7092E2212</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m window --swap north</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>949BC192-8DED-4CCA-9EDD-3E396ADE8AFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yswapdown</string>
				<key>subtext</key>
				<string>Swap with tile below</string>
				<key>text</key>
				<string>Yabai Swap Down</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6C7569AB-0E11-4C24-80A1-84615C4271C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m window --swap south</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ADDAAFCE-17DD-4E3E-8DF7-E595471A7849</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ywarpleft</string>
				<key>subtext</key>
				<string>Warp tile to the left</string>
				<key>text</key>
				<string>Yabai Warp Left</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ECDCB260-8A0D-452E-99BE-0C1F36B46883</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m window --warp west</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>41272328-680B-4CFF-ABAC-B03F8427B8D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ywarpright</string>
				<key>subtext</key>
				<string>Warp tile to the right</string>
				<key>text</key>
				<string>Yabai Warp Right</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>18B327DE-42FC-43FA-9D31-FB8EFCABF6C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m window --warp east</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>091C17A5-5CC5-41CD-9EB9-93E3C8514327</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ywarpup</string>
				<key>subtext</key>
				<string>Warp tile up</string>
				<key>text</key>
				<string>Yabai Warp Up</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4A79B83B-2607-4CAC-9150-7280BF24E3AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m window --warp warp</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>01664D36-9278-40F6-97F7-13003B33EE3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ywarpdown</string>
				<key>subtext</key>
				<string>Warp tile down</string>
				<key>text</key>
				<string>Yabai Warp Down</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>60A03153-B5A4-408C-9EAD-06D13D5DF0E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m window --warp south</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3E903C06-2C58-46F3-9BA9-7D486F995160</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ysticky</string>
				<key>subtext</key>
				<string>Make tile appear in all spaces</string>
				<key>text</key>
				<string>Yabai Toggle Sticky</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B9F89A3F-0C39-44BE-9B49-A2ACD69BE620</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m window --toggle sticky</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D2D93306-1F2E-445E-9938-500721188CDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yfloat</string>
				<key>subtext</key>
				<string>Make tile float</string>
				<key>text</key>
				<string>Yabai Toggle Float</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D62130F8-C324-40D7-A510-64D61CC9EE06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m window --toggle float</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>46FEDC02-59D9-42D5-BC47-43AFF9E7FD89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ystack</string>
				<key>subtext</key>
				<string>Sets the currrent space to stack (monacle)</string>
				<key>text</key>
				<string>Yabai Stack Current Space</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DFF6C345-D610-44A5-94CC-333F5DBC05D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m space --layout stack</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1D71E60E-2B0E-45DA-B5B4-6E6F7860AFF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ybsp</string>
				<key>subtext</key>
				<string>Sets the currrent space to BSP</string>
				<key>text</key>
				<string>Yabai BSP Current Space</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EDD10EC3-3BFC-41BC-BA0C-2880A83B4FE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>-m space --layout bsp</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>75BA9490-6745-4EEA-AB10-4167B9F13D1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01664D36-9278-40F6-97F7-13003B33EE3C</key>
		<dict>
			<key>xpos</key>
			<integer>1345</integer>
			<key>ypos</key>
			<integer>1910</integer>
		</dict>
		<key>0561B68B-E9D7-4159-92CD-ACFE04FF6563</key>
		<dict>
			<key>xpos</key>
			<integer>1310</integer>
			<key>ypos</key>
			<integer>995</integer>
		</dict>
		<key>091C17A5-5CC5-41CD-9EB9-93E3C8514327</key>
		<dict>
			<key>xpos</key>
			<integer>1335</integer>
			<key>ypos</key>
			<integer>1780</integer>
		</dict>
		<key>123C5C2F-988D-4DC7-926F-02ECDC4EDF74</key>
		<dict>
			<key>xpos</key>
			<integer>1315</integer>
			<key>ypos</key>
			<integer>1130</integer>
		</dict>
		<key>18B327DE-42FC-43FA-9D31-FB8EFCABF6C7</key>
		<dict>
			<key>xpos</key>
			<integer>1115</integer>
			<key>ypos</key>
			<integer>1750</integer>
		</dict>
		<key>1B8E18E9-807D-4E57-BDDA-FBFDF0497E55</key>
		<dict>
			<key>xpos</key>
			<integer>1320</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>1D1F7FC6-4E29-46C8-82C1-75872B71C0DF</key>
		<dict>
			<key>xpos</key>
			<integer>1095</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>1D71E60E-2B0E-45DA-B5B4-6E6F7860AFF6</key>
		<dict>
			<key>xpos</key>
			<integer>1310</integer>
			<key>ypos</key>
			<integer>2435</integer>
		</dict>
		<key>1FD47F49-5B20-4195-8E3B-829F566FE9F6</key>
		<dict>
			<key>xpos</key>
			<integer>1115</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>2B971DBD-D6AC-431C-9D05-7FAE0D18DA2E</key>
		<dict>
			<key>xpos</key>
			<integer>1755</integer>
			<key>ypos</key>
			<integer>1835</integer>
		</dict>
		<key>33A7034A-ACE2-4C70-A081-D744DA054E25</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>1025</integer>
		</dict>
		<key>3E903C06-2C58-46F3-9BA9-7D486F995160</key>
		<dict>
			<key>xpos</key>
			<integer>1355</integer>
			<key>ypos</key>
			<integer>2035</integer>
		</dict>
		<key>41272328-680B-4CFF-ABAC-B03F8427B8D9</key>
		<dict>
			<key>xpos</key>
			<integer>1340</integer>
			<key>ypos</key>
			<integer>1650</integer>
		</dict>
		<key>41E68604-F00E-4AE1-BD51-8621CF266E40</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1145</integer>
		</dict>
		<key>43454C43-404B-48DF-A554-F21E4554369C</key>
		<dict>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>45FD8BAA-D0D6-40D9-8187-67DEF6E33B48</key>
		<dict>
			<key>xpos</key>
			<integer>1375</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>46FEDC02-59D9-42D5-BC47-43AFF9E7FD89</key>
		<dict>
			<key>xpos</key>
			<integer>1340</integer>
			<key>ypos</key>
			<integer>2290</integer>
		</dict>
		<key>4A79B83B-2607-4CAC-9150-7280BF24E3AF</key>
		<dict>
			<key>xpos</key>
			<integer>1125</integer>
			<key>ypos</key>
			<integer>1880</integer>
		</dict>
		<key>53488506-7F3B-41CC-96E2-0AD58E3FBFA1</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>915</integer>
		</dict>
		<key>5B01C220-8575-4331-A663-9B1CB505EC1D</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>1060</integer>
		</dict>
		<key>60A03153-B5A4-408C-9EAD-06D13D5DF0E5</key>
		<dict>
			<key>xpos</key>
			<integer>1135</integer>
			<key>ypos</key>
			<integer>2005</integer>
		</dict>
		<key>64E6317B-A55B-4DEE-8A82-D81778FA8AE4</key>
		<dict>
			<key>xpos</key>
			<integer>1380</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>6BA9B0F5-1DCF-4F41-9839-D841C0EF87B2</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>6C7569AB-0E11-4C24-80A1-84615C4271C5</key>
		<dict>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>1485</integer>
		</dict>
		<key>6E77070C-8882-46F6-AC61-AC525506E21F</key>
		<dict>
			<key>xpos</key>
			<integer>1335</integer>
			<key>ypos</key>
			<integer>735</integer>
		</dict>
		<key>75BA9490-6745-4EEA-AB10-4167B9F13D1D</key>
		<dict>
			<key>xpos</key>
			<integer>1305</integer>
			<key>ypos</key>
			<integer>2565</integer>
		</dict>
		<key>7CFC6689-AE46-4B8D-83C1-9E2C6C6FF3BD</key>
		<dict>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>800E1B24-9CF4-42A2-8C7D-6C57592B38C2</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>8EA48661-1D52-40EF-BC5F-91D5809DBDFD</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>949BC192-8DED-4CCA-9EDD-3E396ADE8AFE</key>
		<dict>
			<key>xpos</key>
			<integer>1320</integer>
			<key>ypos</key>
			<integer>1390</integer>
		</dict>
		<key>95E2B96E-5FE0-40AF-ABC0-03C9E2117F2E</key>
		<dict>
			<key>xpos</key>
			<integer>1310</integer>
			<key>ypos</key>
			<integer>1260</integer>
		</dict>
		<key>985CAD04-E0B7-4382-8E76-1BC7092E2212</key>
		<dict>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>1360</integer>
		</dict>
		<key>A6B103CB-6A36-4B62-9A7A-E3BDC5FE17A8</key>
		<dict>
			<key>xpos</key>
			<integer>1105</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>ADB2F214-2756-4262-AFDC-5C30B8F544D4</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1065</integer>
		</dict>
		<key>ADDAAFCE-17DD-4E3E-8DF7-E595471A7849</key>
		<dict>
			<key>xpos</key>
			<integer>1330</integer>
			<key>ypos</key>
			<integer>1515</integer>
		</dict>
		<key>B9F89A3F-0C39-44BE-9B49-A2ACD69BE620</key>
		<dict>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>2135</integer>
		</dict>
		<key>C001D7D7-7F8A-4DED-9429-4BDD61F2EA0C</key>
		<dict>
			<key>xpos</key>
			<integer>1780</integer>
			<key>ypos</key>
			<integer>885</integer>
		</dict>
		<key>C1431DF2-810F-4136-9931-8FFE01C5A393</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>885</integer>
		</dict>
		<key>C4A0B716-91C3-499A-84F4-ACB9A7F07DEF</key>
		<dict>
			<key>xpos</key>
			<integer>1810</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>CA6186A1-1891-4BB4-8FDE-C1506DF3B27C</key>
		<dict>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>D17FC52E-1662-4D7B-AB8D-EF8D92E8CA7D</key>
		<dict>
			<key>xpos</key>
			<integer>1105</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>D2D93306-1F2E-445E-9938-500721188CDC</key>
		<dict>
			<key>xpos</key>
			<integer>1345</integer>
			<key>ypos</key>
			<integer>2170</integer>
		</dict>
		<key>D62130F8-C324-40D7-A510-64D61CC9EE06</key>
		<dict>
			<key>xpos</key>
			<integer>1135</integer>
			<key>ypos</key>
			<integer>2255</integer>
		</dict>
		<key>DFF6C345-D610-44A5-94CC-333F5DBC05D2</key>
		<dict>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>2405</integer>
		</dict>
		<key>EC83BF9B-BF6F-4BDF-929E-C9BFDD610A55</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>ECDCB260-8A0D-452E-99BE-0C1F36B46883</key>
		<dict>
			<key>xpos</key>
			<integer>1120</integer>
			<key>ypos</key>
			<integer>1620</integer>
		</dict>
		<key>EDD10EC3-3BFC-41BC-BA0C-2880A83B4FE4</key>
		<dict>
			<key>xpos</key>
			<integer>1125</integer>
			<key>ypos</key>
			<integer>2535</integer>
		</dict>
		<key>F0683619-112F-402B-99D1-8502E80C349F</key>
		<dict>
			<key>xpos</key>
			<integer>1380</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>FF9715E8-4FE2-4FEA-8AC2-E513E7AB0683</key>
		<dict>
			<key>xpos</key>
			<integer>1090</integer>
			<key>ypos</key>
			<integer>1230</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>SCRIPTS_DIR</key>
		<string>/Users/slupo/projects/AlfredWorkflows/Yabai/scripts</string>
		<key>SHIFT_AMOUNT</key>
		<string>40</string>
		<key>jq</key>
		<string>/usr/local/bin/jq</string>
		<key>yabai</key>
		<string>/usr/local/bin/yabai</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>stefanolupo.com</string>
</dict>
</plist>
